:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --midnight: #012245;
  --malibu: #55CBFF;
  --azure-radiance: #01A4FF;
  --alto: #D5D5D5;
  --venice-blue: #04597B;
  --cerulean: #02ADF2;
  --black-pearl: #040B1F;
  --blue-ribbon: #016FFF;
  --anakiwa: #ABE1FF;
}



@media (hover:hover) {

  .nav__link:hover:not(:active) {
    border-bottom: 1px solid var(--malibu);
  }

  .btn:hover:not(:active) {
    background-color: var(--malibu);
  }

  .learn__link:hover:not(:active) {
    background-color: var(--malibu);
  }

  .burger:hover .burger__line {
    background-color: var(--malibu);
  }

  .subscription-link__header:hover {
    border-color: var(--malibu);
    color: var(--malibu);
  }

  .subscription-link__header-nav:hover {
    border-color: var(--malibu);
    color: var(--malibu);
  }

  .subscribe__link:hover {
    border-color: var(--malibu);
    color: var(--malibu);
  }

  .accordion-button:hover:not(:active) {
    background-color: var(--azure-radiance);
    color: var(--white-color);
  }

  .swiper__section-link:hover {
    color: var(--white-color);
  }

  .swiper__heading-link:hover:not(:active) {
    border-bottom: 1px solid var(--malibu);
  }

  .swiper__link:hover:not(:active) {
    border-bottom: 1px solid var(--malibu);
  }

  .address__link:hover:not(:active) {
    color: var(--malibu);
  }

  .li__logo:hover:not(:active) path {
    fill: var(--malibu);
  }

  .our-partners__link:hover {
    filter: grayscale(0%);
  }

  .blog-preview__link:hover {
    background-color: var(--midnight);
    color: var(--white-color);
  }

  .blog__download:hover {
    color: var(--azure-radiance);
  }

  .blog__link:hover {
    border-bottom: 0.5px solid var(--malibu);
  }

  .archive__link:hover {
    border-bottom: 0.5px solid var(--malibu);
  }

  .educational-type__link:hover {
    color: var(--white-color);
  }

  .educational__link:hover:not(:active) {
    border-bottom: 1px solid var(--malibu);
  }

  .events-preview__link:hover {
    background-color: var(--midnight);
    color: var(--white-color);
  }

  .subscription-link__body:hover {
    border-bottom: 1px solid var(--malibu);
  }

  .contact-submit:hover:not(:active) {
    background-color: var(--malibu);
  }

  .contact-input:hover:not(:active) {
    background-color: var(--anakiwa);
  }

  .contact-textarea:hover:not(:active) {
    background-color: var(--anakiwa);
  }

  #cc-main .cm__btn:hover {
    background-color: var(--malibu);
    border: 1px solid var(--malibu);

  }

}

@media (max-width: 1620px) {

  .calendly-container {
    width: 80%;
  }

  .contact-input {
    width: 60%;
  }

  .contact-textarea {
    width: 60%;
  }

  .accordion__col::before {
    left: 41%;
  }

}

@media (max-width: 1520px) {

  .hero {
    background-image: url(../img/hero__background-1520.png);
  }

  .hero__container {
    top: 80px;
  }

  .articles__item {
    width: calc((93% - (var(--gap) * 1)) / 3);
  }

  .articles__item:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .articles__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

}


@media (max-width: 1467px) {


  .steps-wrapper {
    min-height: 312px;
  }

  .calendly-container {
    width: 90%;
  }


}

@media (max-width: 1398px) {


  .header__content {
    justify-content: end;
  }

  .subscription-link__header {
    margin-right: 30px;
  }

  .header__nav-list {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    min-width: 400px;
    height: 100%;
    z-index: 10;
    padding: 50px;
    padding-right: 150px;
    box-shadow: 0 0 5px #888;
    background-color: var(--midnight);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(100%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0px 4px 40px 0px var(--malibu);
    /* border-radius: 0px 0px 32px 32px; */
  }

  .header__nav-list .header__nav-list {
    flex-direction: column;
  }

  .header__nav-list .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .header__nav-list--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 3%;
    padding-top: 30px;
    width: 30px;
    border-radius: 3px;
    color: var(--white-color);
    z-index: 11;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: var(--white-color);
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out;
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(3) {
    bottom: 0px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .hero {
    background-image: url(../img/hero__background-1398.png);
  }

  .calendly-container {
    width: 100%;
  }

  .swiper__content {
    padding: 40px 30px;
  }

  .steps-wrapper {
    min-height: 394px;
  }

  .learn-more__wrapper {
    width: 88%;
  }

}

@media (max-width: 1199px) {


  .hero__info {
    padding-top: 10%;
  }

  .about-us__list {
    margin-bottom: 50px;
  }

  .calendly-container {
    width: 56%;
  }

  .contact-input {
    width: 70%;
  }

  .contact-textarea {
    width: 70%;
  }

  .pages__hero {
    padding-top: 40%;
  }


}


@media (max-width: 1147px) {

  .heading__global {
    font-size: 30px;
  }

  .learn-more__wrapper {
    min-height: 300px;
  }
}


@media (max-width: 1110px) {

  .calendly-container {
    width: 62%;
  }

  .articles__item {
    width: calc((93% - (var(--gap) * 1)) / 2);
  }

  .articles__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .articles__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

}

@media (max-width: 991px) {

  .hero {
    background-image: url(../img/hero__background-991.png);
  }

  .hero__heading {
    border-bottom: 0;
  }

  .hero__info {
    padding-top: 20%;
  }

  .hero__descr {
    display: none;
  }


  .about-us__list {
    margin-bottom: 50px;
  }

  .calendly-container {
    width: 70%;
  }

  .steps-wrapper {
    min-height: 325px;
    width: 50%;
    margin-bottom: 50px;
  }

  .step3 {
    margin-bottom: 0px;
  }

  .services__descr {
    width: 67%;
  }

  .accordion {
    width: 100%;
    padding-right: 17%;
  }

  .accordion::before {
    margin-top: -19.5%;
  }

  .learn-more__wrapper {
    min-height: 250px;
    width: 45%;
    margin-bottom: 50px;
  }

  .learn-more__wrapper-3 {
    margin-bottom: 0;
  }

  .subscribe__heading {
    text-align: start;
  }

  .contact-input {
    width: 80%;
  }

  .contact-textarea {
    width: 80%;
  }

  .blog__video {
    width: 100%;
  }

}

@media (max-width: 914px) {

  .hero__video {
    display: none;
  }

  .hero__container {
    position: relative;
  }

  .hero__info {
    padding-top: 66%;
  }


  .pages__hero {
    padding-top: 70%;
  }



  .hero__heading {
    display: none;
  }

  .pages__heading {
    display: block;
  }

  .hero__heading-sm {
    display: block;
    color: var(--midnight);
  }

  .about-us__heading {
    display: none;
  }


}

@media (max-width: 896px) {

  .calendly-container {
    width: 80%;
  }

}

@media (max-width: 778px) {

  .calendly-container {
    width: 90%;
  }

}


@media (max-width: 767px) {

  .header {
    font-size: 14px;
  }

  .hero__heading {
    font-size: 30px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .heading__global {
    font-size: 28px;
  }

  .subtitle__global {
    font-size: 18px;
  }

  .descr__global {
    font-size: 14px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .panel__descr {
    font-size: 14px;
  }

  .panel__item {
    font-size: 14px;
  }

  .calendly__link {
    font-size: 16px;
  }

  .swiper__section-link {
    font-size: 16px;
  }

  .swiper__link {
    font-size: 16px;
  }

  .learn-more__wrapper {
    width: 55%;
  }

  .footer__list {
    display: flex;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 0.5px solid var(--malibu);
    flex-wrap: wrap;
    justify-content: left;
  }

  .footer__item:not(:last-child) {
    margin-right: 22px;
  }

  .meet-foounder__img {
    margin-top: 60px;
  }

  .our-partners {
    margin-bottom: 0;
  }

  .our-partners__col {
    display: flex;
    justify-content: center;
  }

  .our-partners__wrapper {
    margin-bottom: 80px;
    width: 40%;
  }

  .articles__item {
    width: calc((93% - (var(--gap) * 1)) / 1);
  }

  .articles__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .blog-preview__author {
    margin-top: 40px;
  }

  .blog__wrapper {
    margin-bottom: 40px;
  }

  .educational-portal__link {
    margin-bottom: 50px;
  }

}


@media (max-width: 682px) {

  .calendly-container {
    width: 100%;
  }

  .events-preview__image {
    max-width: 30%;
  }

}

@media (max-width: 630px) {

  .header__nav-list {
    min-width: 100%;
  }

  .subscription-link__header {
    display: none;
  }

  .subscription-link__header-nav {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid var(--white-color);
    border-radius: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .subscription-link__heade-nav:focus-visible {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
  }

  .subscription-link__header-nav:active {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
  }

  .steps-wrapper {
    width: 60%;
  }

  .our-partners__wrapper {
    width: 45%;
  }

}

@media (max-width: 612px) {

  .calendly-container {
    background-image: url(../img/calendly-bg-612.png);
  }

  .events-preview {
    flex-direction: column;
  }

  .events-preview__link {
    flex-direction: column;
  }

  .events-preview__image {
    max-width: 100%;
  }

}


@media (max-width: 520px) {

  .pages__hero {
    justify-content: center;
    padding-top: 400px;
    padding-bottom: 0;
  }

  .calendly-container {
    padding: 40px 0 60px 30px;
  }

  .calendly__subtitle {
    margin-bottom: 100px;
  }

  .calendly__link {
    padding: 17px 28px;
    font-size: 14px;
  }

  .swiper__content {
    width: 88%;
  }

  .swiper__heading {
    font-size: 22px;
  }

  .swiper__section-link {
    font-size: 14px;
  }

  .swiper__link {
    font-size: 14px;
  }

  .steps-wrapper {
    width: 100%;
    min-height: 286px;
  }

  .learn-more-col {
    display: flex;
    justify-content: center;
  }

  .learn-more__wrapper {
    width: 76%;
  }

  .learn__descr {
    width: 85%;
  }

  .learn__link {
    padding: 15px 35px;
    font-size: 14px;
  }

  .subscribe__link {
    padding: 10px 25px;
  }

  .subscribe__heading {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 473px) {

  .hero {
    background-image: url(../img/hero__background-473.png);
  }

}

@media (max-width: 460px) {

  .calendly__subtitle {
    width: 50%;
    margin-bottom: 60px;
  }

  .calendly-container {
    padding: 40px 0 47px 30px;
  }

}

@media (max-width: 375px) {

  .calendly__subtitle {
    width: 75%;
  }

  .calendly__subtitle {
    margin-bottom: 35px;
  }

}