html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'PTRootUIWebLight';
    src:
        url('../font/PT-Root-UI_Light.woff2') format('woff2'),
        url('../font/PT-Root-UI_Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebRegular';
    src:
        url('../font/PT-Root-UI_Regular.woff2') format('woff2'),
        url('../font/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebMedium';
    src:
        url('../font/PT-Root-UI_Medium.woff2') format('woff2'),
        url('../font/PT-Root-UI_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebBold';
    src:
        url('../font/PT-Root-UI_Bold.woff2') format('woff2'),
        url('../font/PT-Root-UI_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 320px;
    font-family: 'PTRootUIWebRegular', 'PT Root UI', sans-serif;
    font-weight: 400;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2,
h3, h4 {
    text-wrap: balance;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font: inherit;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 95%;
}



:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --midnight: #012245;
    --malibu: #55CBFF;
    --azure-radiance: #01A4FF;
    --alto: #D5D5D5;
    --venice-blue: #04597B;
    --cerulean: #02ADF2;
    --black-pearl: #040B1F;
    --blue-ribbon: #016FFF;
    --anakiwa: #ABE1FF;
    --gap: 30px;
}

/* .container {
    max-width: 1625px;
} */


/* global */

.section__global {
    padding: 60px 0;
}

.heading__global {
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--midnight);
    margin-bottom: 40px;
}

.subtitle__global {
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.descr__global {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    transition: background-color 0.3s ease-in-out;
}

.btn:focus-visible {
    background-color: var(--blue-ribbon);
}

.btn:active {
    background-color: var(--blue-ribbon);
}

/* header */

.header {
    position: relative;
    width: 100%;
    padding: 18px 0;
    background-color: var(--midnight);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white-color);
    box-shadow: 0px 4px 40px 0px var(--malibu);
}

.header__logo {
    outline: none;
    margin-right: auto;
}

.header__content {
    align-items: center;
    justify-content: space-between;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__link {
    outline: none;
    padding-bottom: 2px;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus-visible {
    color: var(--azure-radiance);
}

.nav__link:active {
    color: var(--azure-radiance);
}

.subscribtion-header__row {
    text-align: end;
}

.subscription-link__header {
    padding: 10px 15px;
    border: 1px solid var(--white-color);
    border-radius: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subscription-link__header:focus-visible {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
}

.subscription-link__header:active {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
}

.burger {
    display: none;
}

.subscription-link__header-nav {
    display: none;
}



/* 
.subscription-form {
    position: relative;
    justify-content: end;
}

.header__form-label {
    margin-right: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__form-input {
    width: 270px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--alto);
    border-style: inset;
    outline: none;
    background: var(--white-color);
}

.header__form-submit {
    position: absolute;
    margin-left: -3%;
    padding: 9px 25px;
    border-radius: 10px;
    background: var(--azure-radiance);
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
} */


/* hero  */


.hero {
    background-image: url(../img/hero__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--black-pearl);
}


.hero__info {
    padding-top: 127px;
    padding-bottom: 152px;
}


.hero__heading {
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 0.5px solid var(--malibu);
    font-size: 36px;
    font-style: normal;
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);
}

.hero__descr {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white-color);
}

.hero__heading-sm {
    display: none;
}


/* about-us */

.about-us__list-item:not(:last-child) {
    margin-bottom: 5px;
}

.about-us__list-item {
    position: relative;
    padding-right: 25px;
    margin-bottom: 5px;
    width: fit-content;
}

.about-us__list-item::after {
    content: url('../img/tick.svg');
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-us__list-item:hover::after {
    opacity: 1;
}

.calendly-container {
    width: 75%;
    padding: 50px 0 100px 50px;
    background-image: url(../img/calendly-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.calendly__subtitle {
    color: var(--white-color);
    margin-bottom: 60px;

}

.calendly__link {
    padding: 19px 30px;
    background-color: var(--azure-radiance);
    border-radius: 16px;
    color: var(--white-color);
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}

/* news & events */

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-1 {
    background-image: url(../img/slider-1.jpg);
}

.slide-2 {
    background-image: url(../img/slider-2.jpg);
}

.slide-3 {
    background-image: url(../img/slider-3.jpg);
}

.slide-4 {
    background-image: url(../img/slider-4.jpg);
}

.swiper__content {
    position: absolute;
    padding: 40px 100px;
    padding-right: 0;
    width: 100%;
    top: auto;
    bottom: 0;
    background-color: rgba(1, 34, 69, .6);
}

.swiper__section-link {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--azure-radiance);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.swiper__section-link:focus-visible {
    color: var(--blue-ribbon);
}

.swiper__section-link:active {
    color: var(--blue-ribbon);
}

.swiper__heading-link {
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.swiper__heading-link:focus-visible {
    color: var(--azure-radiance);
}

.swiper__heading-link:active {
    color: var(--azure-radiance);
}


.swiper__heading {
    color: var(--white-color);
    margin-bottom: 20px;
}

.swiper__link {
    padding-bottom: 2px;
    color: var(--white-color);
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.swiper__link:focus-visible {
    color: var(--azure-radiance);
}

.swiper__link:active {
    color: var(--azure-radiance);
}

/* work-steps */

.steps-wrapper {
    min-height: 300px;
    flex-direction: column;
    position: relative;
    padding: 25px 40px;
    padding-bottom: 50px;
    border-radius: 16px;
}

.step1 {
    background-color: var(--midnight);
}

.step2 {
    background-color: var(--venice-blue);
}

.step3 {
    background-color: var(--cerulean);
}

.steps__icon {
    margin-bottom: 20px;
}

.steps__subtitle {
    color: var(--white-color);
}

.steps__descr {
    color: var(--white-color);

}



/* services */

.services__descr {
    margin-bottom: 25px;
    width: 35%;
}



.accordion {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
}



.accordion-item {
    /* border: 1px solid #ccc; */
    margin-bottom: 10px;
    border-radius: 4px;
}

.accordion__img {
    max-width: 75%;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black-color);
    border: 1px solid var(--azure-radiance);
    border-radius: 16px;
    background: var(--white-color);
    outline: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accordion-button:focus {
    background-color: var(--azure-radiance);
    color: var(--white-color);
}

.accordion-button:active {
    background-color: var(--malibu);
    color: var(--white-color);
}

.arrow {
    transition: transform 0.3s ease-in-out;
}

.accordion-panel {
    display: none;
    padding: 10px;
    background-color: #fff;
}

.panel__descr {
    margin-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.panel__item {
    margin-bottom: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* learn-more */

.learn-more__wrapper {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 280px;
    align-items: baseline;
    border: 1px solid var(--azure-radiance);
    border-radius: 16px;
}

.learn__descr {
    margin-bottom: auto;
    width: 70%;
}

.learn__link {
    padding: 19px 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--white-color);
    border-radius: 16px;
    background-color: var(--azure-radiance);
    transition: background-color 0.3s ease-in-out;

}

.learn__link:focus-visible {
    background-color: var(--blue-ribbon);
}

.learn__link:active {
    background-color: var(--blue-ribbon);
}

.subscribe__heading {
    text-align: center;
}

.subscribe__link {
    padding: 15px 30px;
    border: 2px solid var(--midnight);
    border-radius: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subscribe__link:focus-visible {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
}

.subscribe__link:active {
    border-color: var(--blue-ribbon);
    color: var(--blue-ribbon);
}

/* footer */

.footer {
    padding-top: 35px;
    padding-bottom: 70px;
    background-image: url(../img/footer__background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo {
    outline: none;
}

.logo-wrapper {
    margin-bottom: 50px;
}

.footer__descr:not(:last-child) {
    margin-bottom: 15px;
}

.address__descr {
    margin-bottom: 15px;
}

.address__link {
    outline: none;
    transition: color 0.3s ease-in-out;
}

.address__link:focus-visible {
    color: var(--malibu);
}

.address__link:active {
    color: var(--malibu);
}

.li__logo {
    margin-left: -5px;
}

.li__logo path {
    fill: var(--white-color);
    transition: fill 0.3s ease-in-out;
}

.li__logo:focus-visible path {
    fill: var(--malibu);
}

.li__logo:active path {
    fill: var(--malibu);

}

.address__link {
    cursor: pointer;
}

.address__link:not(:last-child) {
    margin-bottom: 15px;
}

.footer__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__descr {
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__address {
    flex-direction: column;
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__list {
    text-align: end;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);
}

/* pages */

.pages__heading {
    padding-bottom: 0;
    border-bottom: none;
}

/* about us */

.pages__hero {
    padding-top: 380px;
    padding-bottom: 20px;
}

.meet-founder__descr {
    margin-bottom: 15px;
}

.text_bold {
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-weight: 700;
}

.meet-foounder__img {
    border-radius: 16px;
}

.our-partners {
    margin-bottom: 40px;
}

.our-partners__heading {
    margin-bottom: 100px;
}

.our-partners__wrapper {
    width: 65%;
}

.our-partners__link {
    outline: none;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.join-us {
    padding-top: 0;
}

.join-us__subtitle {
    margin-bottom: 60px;
}


/* content corner */

.content-corner__descr {
    text-align: center;
    margin-bottom: 60px;
}

.articles__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles-list {
    justify-content: center;
}

.articles__item {
    width: calc((90% - (var(--gap) * 1)) / 4);
    margin-bottom: 30px;
}

.articles__item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.blog__preview {
    overflow: hidden;
    height: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.blog-preview__link {
    display: flex;
    flex-direction: column;
    position: relative;
    outline: none;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    height: 100%;
}

.blog-preview__link:focus-visible {
    background-color: var(--midnight);
    color: var(--white-color);
}

.blog-preview__link:active {
    background-color: var(--midnight);
    color: var(--white-color);
}

.blog-preview__img {
    object-fit: cover;
}

.blog-preview__text {
    padding: 30px;
    flex-grow: 1;
}

.blog-preview__title {
    margin-top: 20px;
}

.blog-preview__descr {
    margin-bottom: 20px;
}

.blog-preview__author {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.blog-preview__photo {
    margin-right: 20px;
    max-width: 15%;
    border-radius: 100%;
}

.blog-preview__name {
    margin-bottom: 0;
}

/* blog page  */

.blog__descr {
    margin-bottom: 25px;
}

.blog__row {
    margin-top: 40px;
}

.blog__img {
    margin-bottom: 40px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.blog__download {
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    outline: none;
    color: var(--midnight);
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.blog__download:focus-visible {
    color: var(--blue-ribbon);
}

.blog__download:active {
    color: var(--blue-ribbon);
}

.aside__col {
    border-left: 0.5px solid var(--cerulean);
}

.archive__subheading {
    font-family: 'PTRootUIWebBold', 'PT Root UI', sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.archive__item {
    margin-bottom: 15px;
}

.archive__link {
    color: var(--midnight);
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.archive__link:focus-visible {
    color: var(--blue-ribbon);
}

.archive__link:active {
    color: var(--blue-ribbon);
}

/* educational portal */

.educational-portal__descr {
    margin-bottom: 15px;
}

.educational-portal__link {
    display: inline-block;
    margin-top: 50px;
}

.educational-item:not(:last-child) {
    margin-bottom: 40px;
}

.educational-wrapper {
    padding-top: 215px;
    border-radius: 5px;
    background-image: url("../img/educational-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.educational-text__wrapper {
    flex-direction: column;
    padding: 30px;
    height: 207px;
    justify-content: space-between;
    background-color: rgba(1, 34, 69, .6);

}

.educational-type__link {
    margin-bottom: 20px;
    color: var(--azure-radiance);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    text-transform: uppercase;
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.educational-type__link:focus-visible {
    color: var(--blue-ribbon);
}

.educational-type__link:active {
    color: var(--blue-ribbon);
}

.educational__link {
    outline: none;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.educational__link:focus-visible {
    color: var(--blue-ribbon);
}

.educational__link:active {
    color: var(--blue-ribbon);
}

.educational__heading {
    width: fit-content;
    color: var(--white-color);
}

.educational__price {
    color: var(--white-color);
}

/* data privacy  */

.data-privacy__descr {
    margin-bottom: 15px;
}

/* events  */

.events__descr {
    text-align: center;
    margin-bottom: 60px;
}

.events__heading {
    text-align: center;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
}

.events-item {
    width: 100%;
    margin-bottom: 30px;
}

.events-preview {
    display: flex;
    overflow: hidden;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.events-preview__link {
    display: flex;
    position: relative;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.events-preview__link:focus-visible {
    background-color: var(--midnight);
    color: var(--white-color);
}

.events-preview__link:active {
    background-color: var(--midnight);
    color: var(--white-color);
}

.events-preview__image {
    object-fit: cover;
    max-width: 20%;
}

.events-preview__text {
    padding: 30px;
}

.past-events {
    border-top: 0.5px solid var(--cerulean);
}

/* events-item */

.events-item__descr {
    margin-bottom: 25px;
}

.events-item__link {
    display: inline-block;
    margin-bottom: 50px;
}

.events-item__link img {
    max-width: 12%;
}

.events-item__img {
    margin-bottom: 40px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* contact */

.contact__heading {
    text-align: center;
}

.contact-form {
    flex-direction: column;
}

.contact-input {
    margin-bottom: 25px;
    padding: 10px 0 10px 10px;
    align-self: center;
    width: 50%;
    border: 1px solid var(--cerulean);
    border-radius: 16px;
    outline: none;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.contact-input:focus-visible {
    border-color: var(--blue-ribbon);
}

.contact-input:active {
    border-color: var(--blue-ribbon);
}

.contact-textarea {
    margin-bottom: 25px;
    padding: 10px 0 10px 10px;
    align-self: center;
    width: 50%;
    border: 1px solid var(--cerulean);
    border-radius: 16px;
    outline: none;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

}

.contact-textarea:focus-visible {
    border-color: var(--blue-ribbon);
}

.contact-textarea:active {
    border-color: var(--blue-ribbon);
}

.contact-submit {
    width: fit-content;
    padding: 19px 50px;
    align-self: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--white-color);
    border-radius: 16px;
    outline: none;
    border: none;
    background-color: var(--azure-radiance);
    transition: background-color 0.3s ease-in-out;
}

.contact-submit:focus-visible {
    background-color: var(--blue-ribbon);
}

.contact-submit:active {
    background-color: var(--blue-ribbon);
}

